* {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
}

body {
    background: rgb(188,186,219);
background: linear-gradient(90deg, rgba(188,186,219,1) 0%, rgba(235,224,231,1) 26%, rgba(235,211,173,1) 72%, rgba(241,208,164,1) 100%, rgba(0,212,255,1) 100%);
}

hr {
    margin-top: 5cm;
    margin-bottom: 5cm;
}
.logoHeader {
    border-radius: 50%;
    transform: translate(690px);
    padding: 50px;
    
}

h1 { 
    text-align: center;
    font-size: 70px;
    opacity: 0.8;
    
}

.card{
    background-color: #f0f6fa;

}

.card:hover {
    background-color: rgb(241, 231, 170);
}
.contenedor {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 5cm;
    
}

.contenedor .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.contenedor .card img {
    width: 330px;
    height: 220px;
}

.contenedor .card h4 {
    font-weight: 600;
}

.contenedor .card p {
    margin: 10px;
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.contenedor .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


.formulario {
    width: 400px;
    background: #f3d8ae;
    padding: 200px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.formulario h4 {
    font-size: 45px;
    margin-bottom: 20px;
    

}

.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px;


}

.formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.formulario a {
    color: white;
    text-decoration: none;
    
}

.formulario a:hover {
    color:white;
    text-decoration: underline;
}

.formulario .boton {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px;
    border: 2px solid black;
    font-size: 16px;
}

.formulario .boton:hover {
    background-color: #cde6f7;
}